<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row mb">
        <div class="col d-flex justify-content-center">
            <div class="card text-center rounded shadow-sm" style="width: 18rem;">
                <div class="card-header">
                    <h6>Time gap</h6>
                </div>
                <div class="card-body">
                    <form action="/output" method="post">
                        <div class="container">
                            <div class="row mb-2">
                                <div class="col">
                                    from
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <input type="datetime-local" name="startDate" required>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    to
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input type="datetime-local" name="endDate" required>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col">
                                    <input type="submit" value="show">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-3" >
        <div class="col d-flex justify-content-center">
            <div th:if="${emptyResults}">
                <div class="text-center">
                    no results
                </div>
            </div>
            <div th:unless="${emptyResults}">
                <table class ="table" style="width: 18rem;">
                    <tr th:each="val : ${sum}">
                        <td th:text="${val.date}"> minute</td>
                        <td th:text="${val.sum}">sum</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>